header {
  background-color: rgb(56, 54, 54);
  padding: 1rem;
}

nav a,
nav {
  text-decoration: none;
  color: #fcfc5b;
  font-weight: 500;
}

.badge {
  background-color: #dc3545;
  color: white;
  border-radius: 50%;
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  margin-left: 0.5rem;
}